PPxCFG  = 
;---------------------------------------------------------------------------
;・ユーザコマンド・関数
;---------------------------------------------------------------------------
-|_Command  =
_Command  = {
; AHK         = *launch %0..\AHK\AutoHotkey.exe %0..\AHK\Script\%*arg(1) "%*arg(2)"
MEMO        = *script %'scr'%\listControl.js,memo,%0\list\worklist.xlf,%*arg(1)
              *if %*js(PPx.Result = PPx.DirectoryType;) == 4 %: *wait 100,1 %: %K"@F5
RESULT      = %*script(%'scr'%\result.js,%*arg(1))%*js(PPx.Result = PPx.%*arg(1);)
cloudMode   = *if %si"copyCloud" == 1 %: *ppc -single -mps -bootid:Y aux://M_auxrclone/%si"storage" -k *focus CY %: *stop
              rclone --config "%'USERPROFILE'%\.config\rclone\rclone.conf" copy %FDC %$*input("%si"storage"|share|" -title:"rclone copy.. [dest]" -mode:d -select:i)
PPVUD       = *if %*extract(C,"%%*js(PPx.Result=PPx.SyncView;)") > 0 %: %K-C"@%*arg(1) %: *stop
              %KC"@%*arg(1)@N
GETBRANCH   = *ifmatch %*getcust(_user:u_git_branch),'' %: %On *ppb -c git rev-parse --abbrev-ref HEAD | xargs %0pptrayw -c *setcust _user:u_git_branch=
              *string i,cBRANCH=%*getcust(_user:u_git_branch)
GIT         = *execute C,git %*input("%*arg(1)" -title:"git <command>" -mode:e -select:l -k *completelist /file:%'repoppx'%\list\GITCOMMAND.TXT)
              *focus #%*findwindowclass(CkwWindowClass)
COMMITLIST  = *cd %'repo'
              %Osn *ppb -c git log --oneline | sed -e s/' '/' ';/g | nkf -w8 -Lw > %'repoppx'%\list\COMMITLIST.TXT
              *completelist /file:%'repoppx'%\list\COMMITLIST.TXT
}
