PPxCFG  = 
;---------------------------------------------------------------------------
;・ユーザコマンド・関数
;---------------------------------------------------------------------------
-|_Command  =
_Command  = {
; AHK         = *launch %0..\AHK\AutoHotkey.exe %0..\AHK\Script\%*arg(1) "%*arg(2)"
JSCRIPT     = *script %'repoppx'%\script\%*arg(1)
RESULT      = %'repoppx'%\script\result.js,%*arg(1)
PPVUD       = *ifmatch V%*getcust(_others:SyncViewID),%n %:%KC"@%*arg(1) %:*focus %n %:*stop
              %KC"@%*arg(1)@N
GIT         = termppx -k git %*input("%*arg(1)" -title:"git command" -mode:e -select:l -k *completelist /file:%'repoppx'%\list\GITCOMMAND.TXT) %*arg(2)
COMMITLIST  = *cd %'repo' %:%On *ppb -c git log --oneline | sed -e s/' '/' ';/g | nkf -w8 -Lw > %'repoppx'%\list\COMMITLIST.TXT
;GREPPX      = %Osn *ppb -c grep -inr %*arg(1) %*arg(2) > %0backup\PPXRESULT.sz7
;              %Os- *ppc -r -single -bootid:U %0backup\PPXRESULT.sz7::listfile
;              *setcust K_edit:^N,*execute CU,%%%%K"@DOWN"
;              *setcust K_edit:^P,*execute CU,%%%%K"@UP"
;              *setcust K_edit:^E,gvim -p %FD%\%%*regexp("%%*extract(CU"%%%%FCN")","s/(.*)\:([0-9]*)\:.*/$1 \+$2/")
;              *setcust K_edit:^Q,%%k"&F4" %%:*setcust K_edit:-|^N= %%:*setcust K_edit:-|^P= %%:*setcust K_edit:-|^E= %%:*setcust K_edit:-|^Q= %%:*setcust K_edit:-|^M=
;              *setcust K_edit:^M,*execute CU,%%%%K"@SPACE"
;              *focus CU %:*wait 100,1
;              %k"f APPS eo':'edw','r':' %:*wait 100,1
;              *windowposition %*findwindowtitle("エントリマスク"),0,600
}
